extends layout

block content
    h1= title
    form#formAdicionarEstudante(name="adicionarestudante",method="post",action="#{action}")
        input#inputId(type="text", placeholder="id", name="id", value="#{estudante.id}")
        input#inputNome(type="text", placeholder="nome", name="nome", value="#{estudante.nome}")
        button#btnSubmit(type="submit") submit