extends layout

block content
    h1= title
    form#formAdicionarDisciplina(name="adicionardisciplina",method="post",action="#{action}")
        input#inputId(type="text", placeholder="id", name="id", value="#{disciplina.id")
        input#inputNome(type="text", placeholder="nome", name="nome", value="#{disciplina.nome}")
        button#btnSubmit(type="submit") submit