extends layout

block content
    a(href="/diario-classe/estudante/adicionar")  adicionar
    h1.
        Estudantes
    div
        each estudante, i in listaestudante
            div
                =estudante.nome
                a(href="/diario-classe/estudante/editar/#{estudante._id}")  editar
                a(href="/diario-classe/estudante/deletar/#{estudante._id}")  deletar
                