extends layout

block content
    h1.
        Estudantes
    div
        each estudante, i in listaestudante
            div
                =estudante.nome
                a(href="/estudante/editar/#{estudante.id}")  editar
                a(href="/estudante/deletar/#{estudante.id}")  deletar
                