extends layout

block content
    a(href="/estudante/adicionar")  adicionar
    h1.
        Disciplinas
    div
        each disciplina, i in listadisciplina
            div
                =disciplina.nome
                a(href="/disciplina/edit/#{disciplina.id}")  editar
                a(href="/disciplina/deletar/#{disciplina.id}")  deletar
                